<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="ProyectoTramite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
      <add key="API" value="https://reqres.in/api/"/>
      <add key="APILOGIN" value="http://www.exact.com.pe:8891/"/>
      <add key="LDAP" value="False"/>
      <add key="clientID" value="123"/>
      <add key="clientSecret" value="123"/>
      <add key="authorizationEndpoint" value="http://localhost:8080/oauth/v2/authorize"/>
      <add key="tokenEndpoint" value="https://www.googleapis.com/oauth2/v4/token"/>
      <add key="userInfoEndpoint" value="https://www.googleapis.com/oauth2/v3/userinfo"/>
  </appSettings>
  <userSettings>
    <ProyectoTramite.Properties.Settings>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
    </ProyectoTramite.Properties.Settings>
  </userSettings>
</configuration>