<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv='refresh' content='19;url=https://www.exact.com.pe/' />
    <title>Trámite interno</title>
</head>
<body>
    <part-javaScript></part-javaScript>
    <part-style></part-style>
    <div class="div-container">
        <div id="master-wrap">

            <div id="logo-box">

                <div class="animated fast fadeInUp">
                    <img src="data:image/png;base64,<img-base64>" alt="Red dot" />
                </div>

                <div class="notice animated fadeInUp">
                    <p class="lead styleP">Puede cerrar esta página y volver a la <br /> aplicación de escritorio de Mesa de Parte.</p>
                </div>

                <div class="footer animated slow fadeInUp">
                    <p id="timer">
                        <script type="text/javascript">
                            countDown();
                        </script>
                    </p>
                    <p class="copyright">&copy; www.exact.com.pe</p>
                </div>

            </div>
            <!-- /#logo-box -->
        </div>
    </div>

    <!-- /#master-wrap -->
</body>
</html>